# Task 1

In [1]:
import pandas as pd 
import seaborn as sns 

iris = sns.load_dataset('iris')

In [2]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# Task 2

In [4]:
iris['sepal_length'].mean()

5.843333333333334

In [5]:
iris['sepal_width'].median()

3.0

In [6]:
iris['species'].mode()

0        setosa
1    versicolor
2     virginica
Name: species, dtype: object

# Task 3

In [7]:
iris['petal_length'].var()

3.1162778523489942

In [8]:
iris['petal_width'].std()

0.7622376689603465

#  Task 4

In [9]:
iris.select_dtypes(include=['float64', 'int64']).skew()

sepal_length    0.314911
sepal_width     0.318966
petal_length   -0.274884
petal_width    -0.102967
dtype: float64

In [10]:
iris['sepal_length'].kurtosis()

-0.5520640413156395

# Task 5

In [12]:
iris['petal_length'].quantile([0,0.25, 0.5, 0.75,1])

0.00    1.00
0.25    1.60
0.50    4.35
0.75    5.10
1.00    6.90
Name: petal_length, dtype: float64